/.idea
/test
/typings
/repo
/tmp

/tsd.json
/tslint.json
/Gruntfile.js

.npmignore
.gitignore
.gitmodules

.travis.yml
.jshintrc
.grunt
.editorconfig

/tscommand*
ignoreBaseDirFile.*
.tscache

src/**/*.ts
!src/**/*.d.ts

/*.tgz
/*.txt
